@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: 240deg 4.76% 95.88%;
    --accent-foreground: 240deg 5.88% 10%;
    --background: 0deg 0% 98.04%;
    --border: 240deg 5.88% 90%;
    --card: 0deg 0% 98.04%;
    --card-foreground: 240deg 10% 3.92%;
    --destructive: 0deg 84.24% 60.2%;
    --destructive-foreground: 0deg 0% 98.04%;
    --foreground: 240deg 10% 3.92%;
    --input: 240deg 5.88% 90%;
    --muted: 240deg 4.76% 95.88%;
    --muted-foreground: 240deg 3.83% 46.08%;
    --popover: 0deg 0% 98.04%;
    --popover-foreground: 240deg 10% 3.92%;
    --primary: 262.12deg 83.26% 57.84%;
    --primary-foreground: 250deg 100% 97.65%;
    --ring: 262.12deg 83.26% 57.84%;
    --secondary: 240deg 4.76% 95.88%;
    --secondary-foreground: 240deg 5.88% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --accent: 240deg 3.7% 15.88%;
    --accent-foreground: 0deg 0% 98.04%;
    --background: 240deg 10% 3.92%;
    --border: 240deg 3.7% 15.88%;
    --card: 240deg 10% 3.92%;
    --card-foreground: 0deg 0% 98.04%;
    --destructive: 0deg 62.82% 30.59%;
    --destructive-foreground: 0deg 0% 98.04%;
    --foreground: 0deg 0% 98.04%;
    --input: 240deg 3.7% 15.88%;
    --muted: 240deg 3.7% 15.88%;
    --muted-foreground: 240deg 5.03% 64.9%;
    --popover: 240deg 10% 3.92%;
    --popover-foreground: 0deg 0% 98.04%;
    --primary: 262.12deg 83.26% 57.84%;
    --primary-foreground: 250deg 100% 97.65%;
    --ring: 262.12deg 83.26% 57.84%;
    --secondary: 240deg 3.7% 15.88%;
    --secondary-foreground: 0deg 0% 98.04%;
  }
}

@layer base {
  * {
    @apply border-border antialiased;
  }
  body {
    @apply bg-background text-foreground;
  }
}
